.toggleBtn{
  position: fixed;
  top: 20px;
  right: 20px;
  background: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
  min-width: 105px;
}
.cellCon{
  width: 340px;
  background: gray;
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  overflow: hidden;
  transition: 1s;
  cursor: pointer;
}
.cellHeader{
  display: flex;
  justify-content: space-evenly;
}
.celldescTitle{

}
.celldesc{
  text-align: left;
}
.groupTitle{
  width: 500px;
  border-bottom: 1px solid black;
  font-weight: bold;
  padding: 2px;
  margin: 16px;
}
