
.cellCon{
  width: 340px;
  background: gray;
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  overflow: hidden;
  transition: 1s;
  cursor: pointer;
}
.cellHeader{
  display: flex;
  justify-content: space-evenly;
}
.celldesc{
  text-align: left;
}
